*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contanier{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
header{
    min-height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    max-width: 805px;
    width: 100%;
    display: flex;
    min-height: 95px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
header li:hover{
    color: white;
    background-color: orange;
}
header li{
    padding: 10px;
}
.a2{
    min-height: 590px;
    background-color:#709dca ;
}
.text{
    min-height: 165px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.text h1{
    color: white;
   
}
.text p{
    color: white;
   
}

label input[type=text]{
    max-width: 281px;
    width: 100%;
    min-height: 46px;
    border-radius: 2px;
    background-color: #ffffff;
    position: relative;
    padding-left: 35px;
    border: 0;
    box-sizing: content-box;
}
label img{
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
}
label{
    position: relative;
}
button{
    max-width: 211px;
    width: 100%;
    min-height: 46px;
    border-radius: 2px;
    background-color: #ffbb42;
    border: 0;
    color: white;
}
form{
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.a3{
    position: relative;
}
.a3 img{
    position: absolute;
    top: 70px; 
    left:245px ;
}
.a4{
    min-height: 895px;
}
.yu{
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
}
.yu h2{
    color: #394b50;
}
.yu p{
    color: #394b50;
   
}
.a5{
    min-height: 100px;
    max-width: 505px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.wq{
    display: flex;
    min-height: 435px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 85px;
}
.vf{
    background-color: #ffc155;
    min-height: 895px;

    }
.a6{
    min-height: 190px;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
}
.a6 h2{
    color: white;
}
.a6 p{
    color: white;
}
.a8{
    min-height: 175px;
    max-width: 515px;
    width: 100%;
    display: flex;
    align-content: baseline;
    justify-content: space-between;
    background-color: white;
    align-items: start;
    
}
.a7{
    display: flex;
    min-height: 435px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 85px;  
}
.a9 p{
    color: #394b50;
    font-size: 13px;
    min-height: 85px;
    font-style: normal;
    display: flex;
    align-content: start;
    justify-content: start;
   padding: 10px 10px;
}
.a8 img{
   
    margin: 20px 10px;
  
}
.a9 h5{
    font-size: 13px;
    display: flex;
    color: #f6772c;
    height: 100px;
    align-content: start;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 10px;
}
.a8 span{
    color:#a0afb3;
}
.a9{
    display: flex;
    flex-direction: column;
}
.a10{

}
.a10 p{
    color: #ffffff;
    font-size: 13px;
    min-height: 85px;
    font-style: normal;
    display: flex;
    align-content: center;
    justify-content: center;
    
  
}
.re{
    background-color: #709dca;
    min-height: 49px;
    padding-top: 15px;
}
@media screen and (max-width: 980px){

    .a3{
        display: none;
    }
    form{
        max-width: 480px;
        width: 100%;
        flex-flow: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    form button{
        max-width: initial;
        width: 100%;
        min-height: 46px;
        margin: 10px 0px;
    }
    form label{
        width: 100%;
        margin: 10px 0px;
    }
    .wq{
        justify-content: center;
    }
    .a5{
        padding: 10px 0px;
    }
    .yu{
        min-height: 100px;
    }
    .a7{
        justify-content: center;
    }
    .a8{
        margin: 10px 0px;
    }
    .a6{
        min-height: 80px;
    }
    form input{
        box-sizing: border-box!important;
        max-width: initial!important;
    }
    .text{
        padding: 0px 20px;
        text-align: center;
    }

}
@media screen and (max-width: 800px){
    header{
        flex-direction: column;
    }
    header ul{
        flex-direction: column;
    }
    .a10{
        padding: 0px 20px;
        text-align: center;
    }
   
}
@media screen and (max-width: 400px){
    
}
